<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				
				<a href="/userPost">Post <span class="badge" ></span></a><br>
				<a href="/notifications">Frineds <span class="badge" ></span></a><br>
					<a href="/notifications">Inbox <span class="badge" ></span></a><br>
				<a href="/notifications">Create Page <span class="badge"></span></a><br>
				<a href="/notifications">Create Group <span class="badge" ></span></a><br>
				<a href="/notifications">Notifications <span class="badge"></span></a><br>
			</li>
		</ul>
	</div>
</aside>